/libs/
/.classpath
/.project
/Java Sample App.eml
/Java Sample App.iml
/entities/
/examples/
/guava-libraries-1c5554dedb09 2/
/guava-libraries-1c5554dedb09.zip
/hs_err_pid32069.log
/hs_err_pid35591.log
/hs_err_pid35866.log
/hs_err_pid35867.log
/hs_err_pid35868.log
/j-Interop_3_0_0.tar
/j-interop/
/mains/
/oauth/
/services/
/util/
/CopyOfSampleApp.class
